<div class="panel-group <%= listName %>" id="<%= listName %>" role="tablist" aria-multiselectable="true">
	<!-- 
		Uses the owned book id for each book in the list plus the list name to create a unique identifier for each book panel.
		Shows the book title and author in the panel header and the book description in the body. Adds a 'Remove from Library' button in the footer.
	//-->
	<% if books.count == 0 %>
		<%= erb :noBooks %>
	<% end %>
	<% books.each do |book|  %>
		<% ownedBookId = book["id"] %>
		<% panelId = listName + "Panel" + ownedBookId.to_s %>
		<% headingId = listName + "Heading" + ownedBookId.to_s %>
		<% collapseId = listName + "Collapse" + ownedBookId.to_s %>
		<div class="panel panel-default" id="<%= panelId %>">
			<div class="panel-heading" role="tab" id="<%= headingId %>">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#<%= listName %>" href="#<%= collapseId %>" aria-expanded="false" aria-controls="<%= collapseId %>">
						<div class="text-primary pull-left"> 
							<%= book["book"]["title"] %>
						</div>
						<div class="text-muted pull-right">
							<%= book["book"]["authors"]["author"]["name"] %>
						</div>
						<div class="clearfix"></div>
					</a>
				</h4>
			</div>
			<div id="<%= collapseId %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= headingId %>">
				<div class="panel-body">
					<%= book["book"]["description"] %>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-danger deleteBook" onclick="removeBookFromLibrary(<%= ownedBookId %>);">
						Remove From Library					
					</button>
				</div>
			</div>
		</div>
	<% end %>
</div>