<!-- Used to paginate search results in search.erb. Clicking the buttons fires off a request for the next/previous page. -->
<% perPage = (@resultEnd - @resultStart).to_i %>
<% if perPage == 0 %>
	<% perPage = 1 %>
<% end %>
<% totalPages = (@totalResults / perPage).ceil %>
<% currentPage = @resultEnd / perPage %>
<nav aria-label="Page navigation">
  <ul class="pager">
    <li <%= currentPage == 1 ? "class='disabled'" : "" %>>
    	<a href="#" onclick="performSearch('<%= @searchQuery %>', <%= currentPage - 1 %>);">Previous</a>
    </li>
    <li <%= currentPage == totalPages ? "class='disabled'" : "" %>>
    	<a href="#" onclick="performSearch('<%= @searchQuery %>', <%= currentPage + 1 %>);">Next</a>
    </li>
  </ul>
</nav>

