<!-- Displays search results and pagination. The results show the book title and author name. -->
<%= erb :pagination %>
<div class="list-group">
	<% @searchResults.each do |searchResult|  %>
		<% book = searchResult["best_book"] %>
		<% bookId = book["id"].to_s %>
		<% headingId = "heading" + bookId %>
		<% collapseId = "collapse" + bookId %>
		<button type="button" class="list-group-item" onclick="addBookToLibrary(<%= bookId %>);">
			<div class="text-primary pull-left"> 
				<%= book["title"] %>
			</div>
			<div class="text-muted pull-right">
				<%= book["author"]["name"] %>
			</div>
			<div class="clearfix"></div>
		</button>
	<% end %>
</div>
<%= erb :pagination %>
