<%= erb :pagination %>
<% searchResultsList = @searchResults["results"]["work"] %>
<div class="list-group">
	<% searchResultsList.each do |searchResult|  %>		
		<% book = searchResult["best_book"] %>
		<% bookId = book["id"] %>
		<% headingId = "heading" + bookId.to_s %>
		<% collapseId = "collapse" + bookId.to_s %>
		<button type="button" class="list-group-item" onclick="addBookToLibrary(<%= book["id"] %>);">
			<div class="text-primary pull-left"> 
				<%= book["title"] %>
			</div>
			<div class="text-muted pull-right">
				<%= book["author"]["name"] %>
			</div>
			<div class="clearfix"></div>
		</button>
	<% end %>
</div>
<%= erb :pagination %>
